@page "/Users/Search"

@using CerebusBlazorUI.Classes.User
@using CerebusBlazorUI.Utilities.Entity
@using Microsoft.VisualBasic
@inject CerebusContext context
@inject NavigationManager Navigator
@inject IDialogService DialogService


<h3>UserSearch</h3>
<br/>
<FluentButton Appearance="Appearance.Accent" BackgroundColor="Green" Style="margin: 5px;" OnClick="@AddNewUser">
    Add New User
</FluentButton>
<br />
<FluentCard MinimalStyle="true" Height="300px">
    <EditForm Model="@userModel" OnValidSubmit="@HandleValidSubmit" FormName="user_search" novalidate>
        <DataAnnotationsValidator />
        <FluentValidationSummary />

        <FluentGrid  AdaptiveRendering="true">
            <FluentGridItem lg="4" md="4" sm="4" xl="4">
                <div>
                    <FluentTextField @bind-Value=userModel.FirstName Label="First Name" Style="width:90%;"></FluentTextField>
                </div>
            </FluentGridItem>
            <FluentGridItem lg="4" md="4" sm="4" xl="4">
                <div>
                    <FluentTextField @bind-Value=userModel.LastName Label="Last Name" Style="width:90%;"></FluentTextField>
                </div>
            </FluentGridItem>
            <FluentGridItem lg="4" md="4" sm="4" xl="4">
                <div>
                    <FluentTextField @bind-Value=userModel.Title Label="Title" Style="width:90%;"></FluentTextField>
                </div>
            </FluentGridItem>
           
            <FluentGridItem lg="4" md="4" sm="4" xl="4">
                <div>
                    <FluentDatePicker Label="Hire Date From:" @bind-Value=@hireDateStart />
                </div>
            </FluentGridItem>
            <FluentGridItem lg="4" md="4" sm="4" xl="4">
                <div>
                    <FluentDatePicker Label="Hire Date To:" @bind-Value=@hireDateEnd />
                </div>
            </FluentGridItem>
            <FluentGridItem lg="4" md="4" sm="4" xl="4">
                <div>
                    <FluentDatePicker Label="Hire Date To:" @bind-Value=@hireDateEnd />
                </div>
            </FluentGridItem>
            <FluentGridItem lg="12" md="12" sm="12" xl="12">
                <div>
                    <FluentCheckbox @bind-Value="@isActive" Label="Include Inactive Users" />
                </div>
            </FluentGridItem>  
            <FluentGridItem lg="12" md="12" sm="12" xl="12">
                <div>
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
                </div>
            </FluentGridItem>         
        </FluentGrid>

    </EditForm>
</FluentCard>
@* <br/> *@
<FluentDivider Style="width: 100%;" Orientation=Orientation.Horizontal Role="DividerRole.Separator"></FluentDivider>
@* <br/> *@
<FluentCard  >
    <FluentLabel Typo="Typography.H3">Results</FluentLabel>

    <div style="display: table; table-layout: fixed; width: 100%;">
        <div style="overflow-x: auto;">
            <FluentDataGrid Items="@Users" Pagination="@pagination" Style="min-width: max-content;" OnRowDoubleClick="@DoubleClickRecord" TGridItem="User" AutoFit="true" ResizableColumns="true">
                <PropertyColumn Property="@(u => u.FirstName)" Sortable="true" Title="First Name"/>
                <PropertyColumn Property="@(u => u.LastName)" Sortable="true" Title="Last Name"/>
                <TemplateColumn Title="View">
                    <FluentButton Appearance="Appearance.Accent" @onclick="@(() => ViewRecord(context))">View</FluentButton>
                </TemplateColumn>
                <TemplateColumn Title="View">
                    <FluentButton Appearance="Appearance.Accent" @onclick="@(() => EditRecord(context))" BackgroundColor="Green">Edit</FluentButton>
                </TemplateColumn>
                <PropertyColumn Property="@(u => u.PhoneNumber)" Sortable="true" Title="Phone #" />
                <PropertyColumn Property="@(u => u.EmailAddress)" Sortable="true" Title="Email" />
                <PropertyColumn Property="@(u => u.HireDate)" Sortable="true" Title="Hire Date" />
                @* <PropertyColumn Property="@(u => u.StreetAddress)" Sortable="true" Title="Address" /> *@
                <PropertyColumn Property="@(u => u.City)" Sortable="true" Title="City" />
                <PropertyColumn Property="@(u => u.State)" Sortable="true"  Title="State" />
                @* <PropertyColumn Property="@(u => u.ZipCode)" Sortable="true" Title="Zip" /> *@
                <PropertyColumn Property="@(u => u.CreatedDate)" Sortable="true"  Title="Created On"/>
                <PropertyColumn Property="@(u => u.UpdatedDate)" Sortable="true" Title="Updated On" />

            </FluentDataGrid>
        </div>
    </div>


</FluentCard>




@code {

    User user = new User();
    bool isActive;
    UserModel userModel = new UserModel();
    DateTime? hireDateStart;
    DateTime? hireDateEnd;
    IQueryable<User> Users = new List<User>().AsQueryable();
    PaginationState pagination = new PaginationState() { ItemsPerPage = 10 };

    void ViewRecord(User u) 
    {
        Navigator.NavigateTo($"users/detail/view/{u.ID}");
    }

    void EditRecord(User u)
    {
        Navigator.NavigateTo($"users/detail/edit/{u.ID}");
    }

    void DoubleClickRecord(FluentDataGridRow<User> row)
    {
        User? u = row.Item;
        ViewRecord(u);
    }
    private async Task TestRecord(User u)
    {
        IDialogReference? dialog;
        DialogResult? messageBoxResult;
        bool canceled;
        dialog = await DialogService.ShowErrorAsync("Access Denied: Bad Logon Credentials!");
        messageBoxResult = await dialog.Result;
        canceled = messageBoxResult.Cancelled;
    }

    public void AddNewUser()
    {
        Navigator.NavigateTo("/Users/Detail/Add");
    }

    public void HandleValidSubmit()
    {

        try
        {
            //var x = context.Users;
            var usersQuery = context.Users.Where(u => true);

            if (!string.IsNullOrWhiteSpace(userModel.FirstName))
            {
                usersQuery = usersQuery.Where(u => u.FirstName == userModel.FirstName);
            }

            if (!string.IsNullOrWhiteSpace(userModel.LastName))
            {
                usersQuery = usersQuery.Where(u => u.LastName == userModel.LastName);
            }

            if (!isActive)
            {
                usersQuery = usersQuery.Where(u => u.IsActive == true);
            }

            Users = usersQuery.ToList().AsQueryable();
        }
        catch (Exception ex)
        {

        }
    }

}
